* {
    font-family: 'Raleway', sans-serif;
}

.nav, .navbar, .navbar-default, .navbar-default, .navbar-inverse, .navbar-static-top {
    height: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #555555;;
}

.flashes {
    font-size: 14px;
    margin-bottom: 0;
}

#flash-messaging {
    background-color: #6C826F;
    width: 100%;
}

.alert {
    margin-bottom: 0;
    border-width: 0;
    background-color: #6C826F;
    color: #FFFFFF;
}

.navbar-brand {
    padding-top: 20px;
    font-size: 22px;
}

.navbar-right {
    padding-top: 5px;
    font-size: 18px
}

body {
    padding-top: 60px;
    display: block;
}

#alanding {
    padding-top: 0;
}

#alanding .jumbotron{
    background-color: #555555;
}

.jumbotron-alanding {
    color: #FFFFFF;
}

#btn-landing-login {
    color: white;
}

input {
    display: block;
}

label {
    font-weight: 900;
    font-size: 16px;
}

form {
    text-align: center;
}

.logo {
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

.jumbotron {
    text-align: center;
    background-color: #555555;
    color: #FFFFFF;
}

.img-jumbotron {
    height: 350px;
}

#results-title {
    margin-bottom: 20px;
}

.img-restaurant {
    padding-top: 10px;
}

.restaurant-name {
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.restaurant-heading {
    font-weight: 900;
    margin-top: 0;
}

#header-map-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

#map {
    height: 35em;
}

#directionsPanel {
    font-size: 15px;
}

.form-control {
    text-align: center;
}

.coordinates {
    text-align: center;
}

.restaurant {
    padding-bottom: 20px;
    text-align: center;
}

.rating {
    font-size: 15px;
    padding-right: 6px;
    font-family: 'Montserrat', sans-serif;
}

.rating-star:before {
    font-size: 15px;
}

.reviews-users:before {
   font-size: 15px;
}

.reviews {
    font-size: 15px;
    padding-right: 6px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

.warnbox-content, .warnbox-c1, .warnbox-c2, .adp-warnbox, .adp-legal {
    display: none;
}

.adp-placemark {
    margin-top: 0 !important;
}

.adp-text {
    padding-left: 10px;
}

.profile-info {
    font-size: 16px;
    padding-top: 10px;
}

.jumbotron .bf-description {
    font-size: 16px;
}

.login, .signup {
    text-align: center;
}

.login form {
    font-size: 16px;
}

#auth-title {
    margin-bottom: 20px;
}

.thumbnail {
    background-color: #EEEEEE;
}