* {
    font-family: 'Raleway', sans-serif;
}

.nav, .navbar, .navbar-default, .navbar-default, .navbar-inverse, .navbar-static-top {
}

body {
    display: block;
}

body { 
/*    padding-top: 0px; */
}

input {
    display: block;
}

label {
    font-weight: 900;
}

form {
    text-align: center;

}

.restaurant-name {
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.restaurant-heading {
    font-weight: 900;
    margin-top: 0;
}

#map {
    height: 400px;
}

.form-group{
}

.form-control {
    text-align: center;
}

.container .landing-form {
/*    max-width: 100px;*/
}

.coordinates {
    text-align: center;
}

.restaurant {
    padding-bottom: 20px;
    text-align: center;
}

.rating {
    font-size: 16px;
    padding-right: 6px;
    font-family: 'Droid Sans Mono', monospace;
}

.rating-star:before {
    font-size: 16px;
}

.reviews-users:before {
   font-size: 16px;
}


.reviews {
    font-size: 16px;
    padding-right: 6px;
    padding-left: 15px;
    font-family: 'Droid Sans Mono', monospace;
}

.warnbox-content, .warnbox-c1, .warnbox-c2, .adp-warnbox, .adp-legal {
    display: none;
}

.adp-placemark {
    margin-top: 0 !important;
}

.adp-text {
    padding-left: 10px;
}