{% extends 'base.html' %}
{% block content %}
<div class="container">

</div>
<div class="jumbotron">
    <div class="container">
        <img class="img-jumbotron" src="/static/bobafetch.png">
        <h1>BobaFetch!</h1>
        <div class="row">
            <p class="col-xs-6 col-xs-offset-3">An easy tool for finding and getting to
                <br>your new favorite boba shop.</p>
        </div>
        <div class="row">
            <p class="col-xs-8 col-xs-offset-2 bf-description">Intended for runners and walkers who love bubble tea, this app curates local restaurant results for selecting a restaurant and provides a helpful map and directions for navigating to it. Users can limit their searches based on their running or walking speed and how much time they have available for procuring these delightful drinks. Users can also track their favorite and visited restaurants.</p>
        </div>
        <div class="row">
            <p class="col-xs-8 col-xs-offset-2 about-me">Developer Info:</p>
                <p class="col-xs-8 col-xs-offset-2 about-me"><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/AnliYang"> GitHub       </a></p>
                <p class="col-xs-8 col-xs-offset-2 about-me"><i class="fa fa-linkedin" aria-hidden="true"></i><a href="https://www.linkedin.com/in/anliyang"> LinkedIn</a></p>
        </div>
        <p class="btn-jumbotron-fetch"><a class="btn btn-primary btn-lg" href="/" role="button">Fetch!</a></p>
        <div class="row" id="artist-credit">
            Please note: The awesome art used on this site (Boba Fett bubble tea) is by Joby Cummings, whose site can be found <a href="http://www.jobycummings.com/">here</a>. He sells boba tees at <a href="http://www.redbubble.com/people/jabwai/works/10592344-boba-tea?p=t-shirt&ref=artist_shop_grid">redbubble</a>.
        </div>
    </div>
</div>

{% endblock %}
