<!doctype html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <link href="/static/css/boba.css" rel="stylesheet">
  <title>BobaFetch!</title>
  <style>

  </style>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>


<body>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
<!--             <img src="/static/bobafetch.png"> -->
            <a class="navbar-brand" href="/">BobaFetch!</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/profile">
<!--                         <img class="melon-cart"
                             src="/static/img/watermelon.png"> -->
                        My Profile
                    </a>
                </li>
                {% if session.get('user_id') %}
                <li><a href="/favorite-restaurants">Favorites</a></li>
                <li><a href="/visited-restaurants">Visited</a></li>
                <li><a href="/logout">Log Out</a></li>
                {% else %}
                <li><a href="/login">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- 

      <div>Header
        <span>Profile/User Page</span>
        <span>Run for Boba! (Generate a route)</span>
        <span>if not logged in: <a href="/signup">Signup</a>/<a href="/login">Login</a></span>
        <span>if logged in: <a href="/logout">Log out!</a></span>
      </div> -->

<!--   <h1>BobaRun!</h1>
  <br>
  <hr> -->
<div class="container"> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% block content %} BLOCK CONTENT GOES HERE {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</div>
</body>
</html>