{% extends 'base.html' %}
{% block content %}
<form action="/results" method="POST">
    <label>Current Location
        <input type="text" name="address">
    </label>
    <p>Click the button to get your coordinates.</p>
    <a id="geolocate">Try It</a>
        <input type="text" id="latitude" name="latitude">
        <input type="text" id="longitude" name="longitude">
    <br><label>Time Available
        <input type="text" name="time-available" placeholder="time in minutes"> minutes
    </label>
    <br><br><label>Running Speed
        <input type="text" name="running-speed" placeholder="running speed in mph"> mph
    </label>
    <br><br><input type="submit" value="Boba me!">
</form>

<script src="static/js/landing.js"></script>
{% endblock %}