{% extends 'base.html' %}
{% block content %}
<form action="/search" method="POST">
    <label>Current Location
        <input type="text" name="address">
    </label>
    <br><label>Time Available
        <input type="text" name="time-available" placeholder="time in minutes"> minutes
    </label>
    <br><br><label>Running Speed
        <input type="text" name="running-speed" placeholder="running speed in mph"> mph
    </label>
    <br><br><input type="submit" value="Boba me!">
</form>

{% endblock %}