{% extends 'base.html' %}
{% block content %}
<div class="container" id="login-please" hidden>
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="flashes">
            <li>Please <a href="/login">login</a> to access that feature.</li>
        </ul>
    </div>
</div>

<div class="container">
    <div id="header-map-info">
        <div class="btn-group pull-right">
            <button name="{{ restaurant.yelp_location_id }}" class="btn btn-default btn-favorite" id="favorite"><i class="fa fa-heart-o favorite-heart"></i> Favorite</button>
            <button name="{{ restaurant.yelp_location_id }}" class="btn btn-default btn-visited" id="visited"><i class="fa fa-flag visited-flag"></i> Visited</button>
        </div>
        <h2 class="restaurant-heading"><i class="fa fa-map"></i> {{ restaurant.name }}</h2>
    </div>
    <div class="row">
        <div class="col-xs-6" id="directions-map" style="float:left" data-startlat="{{ user_latitude }}" data-startlng="{{ user_longitude }}" data-endlat="{{ restaurant.latitude }}" data-endlng="{{ restaurant.longitude }}" data-runspd="{{ running_speed }}"></div>
        <div class="col-xs-6" id="directionsPanel" style="float:right; height 100%">
        </div>
        <div class="col-xs-6" id="warnings-panel"></div>
    </div>
    <div class="row">
        <div class="btn-group">
            <button onclick="goBack()" class="btn btn-default" id="back"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Back to results</button>
        </div>
    </div>
</div>

<script src="static/js/boba.js"></script>
{% endblock %}
