{% extends 'base.html' %}
{% block content %}
<div class="restaurant-name">{{ restaurant.name }}</div>
    <div>
        <button name="{{ restaurant.yelp_location_id }}" id="favorite">&hearts; Favorite &hearts;</button>
    </div>
    <div>
        <button name="{{ restaurant.yelp_location_id }}" id="visited">Visited</button>
    </div>

<!-- setting all the map inputs as data attributes for the map item -->
<div>running speed: {{ running_speed }}</div>
<div id="map" style="float:left" data-startaddress="{{ user_address }}" data-startlat="{{ user_latitude }}" data-startlng="{{ user_longitude }}" data-endlat="{{ restaurant.latitude }}" data-endlng="{{ restaurant.longitude }}" data-runspd="{{ running_speed }}"></div>
<div id="directionsPanel" style="float:right; height 100%"></div>

<script src="static/js/boba.js"></script>

{% endblock %}