{% extends 'base.html' %}
{% block content %}
<div class="container"> 
    <div class="profile">
        <h1>Profile</h1>
        <div class="profile-info"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}<div>
        <div class="profile-info"><strong>Email:</strong> {{ user.email }}<div>
        <div class="profile-info"><strong>Password:</strong> **********<div>
        <div class="profile-info"><a href="/favorite-restaurants">Favorite BobaRuns</a><div>
        <div class="profile-info"><a href="/visited-restaurants">Completed BobaRuns</a><div>
    </div>
</div>
{% endblock %}