{% extends 'base.html' %}
{% block content %}
<h2>Restaurants You've Visited</h2>
    {% if visited_restaurants %}
        {% for restaurant in visited_restaurants %}
            <hr>
<!--             <div>Visited on: </div> -->
            <div class="restaurant-name">{{ restaurant.name }}</div>
            <div><img src={{ restaurant.image_url }}></div>
            <div>{{ restaurant.street1 }}</div>
            <div>{{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zip5 }}</div>
            <div>Average Rating: {{ restaurant.rating }}</div>
            <div><img src={{ restaurant.rating_img_url }}></div>
            <div>(based on {{ restaurant.review_count }} reviews)</div>
            <div><a href="{{ restaurant.yelp_url }}">View on Yelp</a></div>
        {% endfor %}
    {% endif %}
{% endblock %}