{% extends 'base.html' %}
{% block content %}

<div class="container signup"> 
    <h1 class="row" id="auth-title">Sign up</h1>
    <form action="/signup" method="POST">
        <div class="row form-group form-group-lg">
            <label>First Name
                <input type="text" name="firstname" class="form-control">
            </label>
        </div>
        <div class="row form-group form-group-lg">
            <label>Last Name
                <input type="text" name="lastname" class="form-control">
            </label>
        </div>
        <div class="row form-group form-group-lg">
            <label>Email
                <input type="email" name="email" class="form-control">
            </label>
        </div>
        <div class="row form-group form-group-lg">
            <label>Password
                <input type="password" name="password" class="form-control">
            </label>
        </div>
        <div class="row form-group form-group-lg">
        <button type="submit" class="btn btn-primary btn-lg">Create my account!</button>
        </div>
    </form>
</div>

{% endblock %}